{{#each this}}
<ul>
	<li><img src=" {{flag}}" alt="flags {{name}}" width="350px"></li>
	<li > <b>Capital:</b>  {{capital}} </li>
	<li> <b>Population:</b>  {{population}}</li>
	<li> <b>Languages:</b>  {{#each languages}} {{name}} {{/each}} </li>
</ul>
{{/each}}